body {
	background: #333;
   display: flex;
   align-items: center;
   justify-content: center;
}
.container {
	background-color: blue;
	margin: 0 auto;
	width: 750px;
	height: 750px;
	position: relative;	
   border: 1px solid #111;
	overflow: hidden;
   
}
.container div {
	display: block;
	width: 50px;
	height: 50px;
	border-radius:50%;
	background-color: palevioletred;
	box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6);
	position: absolute;
	animation: moveX 2s linear 0.15s infinite alternate,
		moveY 1.5s linear 0s infinite alternate;
}

@keyframes moveX {from {left: 0;} to {left: 700px;}
}

@keyframes moveY {from {top: 0;} to {top: 700px;}
}
